<div class="posts new">
	<h1>新規投稿</h1>
	<% @post.errors.full_messages.each do |m| %>
		<%= m %><br/>
	<% end %>
	<div class="post-item">
		<%= form_tag("/posts/create", {multipart: true}) do %>
			<div>
				投稿内容<br/>
				<textarea name="content"><%= @post.content %></textarea>
			</div>
			<div>ユーザid:<input name="user_id" /></div>
			<input name="img" type="file">
			<input type="submit", value="投稿">
		<% end %>
	</div>
</div>

