
.post-item {
    border: 2px solid gray;
    width: 250px;
    margin: 30px auto;
}
.content{
    font-size: 15px;
    img {
	width: 100%;
	height: 100%;
    }
}

.show-btns {
    border-top: 2px solid gray;
}
